@CHARSET "ISO-8859-1";

body {
  /*background-color: black;*/
  background-image: url("images/space.gif");
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 50px;
}


.container{
	width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

